/* reset */
body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

/*  Home tweet */

.row-home {
  margin-top: 5em;
}
.add-tweet {
  width: 100%;
  height: 5em;
}
.tweet-container {
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 750px) {
  .position-fixed {
    position: inherit !important;
  }
}

/* Profil Member */

#margin-top-container-profil {
  margin-top: 5rem;
}

/* searchbar */

#searchContainer {
  margin-top: 5em;
}

body {
  background: rgb(0, 0, 0) !important;
}
