/* reset */
body {
  margin: 0;
  padding: 0;
  background: #414141;
}

/* inscription */
.register{
  background-color: #8580804b;
}
#register input{
  color:whitesmoke;
  background-color: #575252e5;
}
#register input::placeholder{
  color : whitesmoke;
}
#register button{
color : whitesmoke;
background-color:  rgba(70, 152, 211, 0.952);
}
/*  Home tweet */

.row-home {
  margin-top: -6em;
}
.bodyC {
  background-color: #525252;
}
.add-tweet {
  width: 90%;
  height: 5em;
  margin-top: 35px;
  border-radius: 7px;
  border: 2px solid rgba(103, 183, 233, 0.7);
  background-color: #525252;
  color: white;
}

/* tweet */
.tweet-container {
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: thick double #9eb6c5;
  background-color: rgba(102, 191, 243, 0.555);
  border-radius: 6px;
}
.tweet-container:hover {
  background-color: #4f738a;
  transition: all 0.8s ease-out;
}
/* zone de texte tweet */
.tweet-container p {
  font-family: Tahoma;
  font-size: 11pt;
  color: #bcc7cf;
  background-color: #2e3b422d;
  width: 87%;
  height: 89px;
  margin-top: 2%;
  border-radius: 5px;
  padding: 10px;
  text-align: justify;
}
.tweet-container span {
  color: rgba(255, 255, 255, 0.76);
}
/* nom de l'utilisateur qui a tweet */
.tweet-container a {
  color: rgb(15, 79, 139);
  text-decoration: none;
}
/* boutton envoyer */
.sendTweet {
  margin-top: 52px;
  margin-left: 3px;
  padding: 3px;
  width: 90px;
  height: 39px;
  border-radius: 15px;
  border: 1px solid #4f8bb1;
  font-family: tahoma;
  color: #c9d5dd;
  background: #6da1be;
}
.sendTweet:hover {
  background-color: #69899c;
  border: 0.5px solid #9ba2a5;
  color: #b7c5ce;
  transition: all 0.4s ease-out;
}
#count{
  color:rgba(245, 245, 245, 0.897);
}
/* bouton retweet et like */
.retweetValue {
  width: 120px;
  height: 40px;
  border-radius: 7px;
  color: #4c4f51;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  border: thick double #4f738a;
  background: #5ea5d1;
}
.retweetValue:hover {
  background-color: #4597cad0;
  border: 0.5px solid #9ba2a5;
  color: rgba(156, 208, 241, 0.979);
  transition: all 0.5s ease-out;
}
.likeValue {
  background: rgb(183, 218, 250);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  float: right;
  color: rgb(161, 136, 148);
}
.likeValue:hover {
  transition: all 0.2s linear;
  background-color: white;
  color: rgb(116, 163, 207);
}

/* Profil Member */

#margin-top-container-profil {
  margin-top: 5rem;
}
.prof {
  background: #4caae4be !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
#myTab .nav-link{ 
  color: rgba(255, 255, 255, 0.726);
}
#myTab .nav-link.active{ 
color:#5fb1e4;
background: rgba(92, 91, 91, 0.726);
}

/* searchbar */

#searchContainer {
  margin-top: 5em;
}
.card-body {
  background: #525252;
  color: rgb(209, 221, 228);
}
h4 {
  color: whitesmoke;
}

/* modifier le profil  */

.form-control {
  background-color: #575252c9;
}
form h4 {
  color: #1da1f2;
}
#formEditProfil label {
  color: rgba(255, 255, 255, 0.671);
}
#formEditProfil input {
  color: rgba(255, 255, 255, 0.555);
}

/* messagerie */
.messagerie h2{
  color:white;
}
/* (homeMessage.php) contact :  */
.chats{
  background-color:rgba(50, 146, 206, 0.836);
  border-radius: 10px;
  font-size: 12pt;
  box-shadow:0 0 15px #1b1b1bcc;
}
.chats a {
  color:#c6dae6;
  text-decoration: none;
}
.chats:hover{
  background-color:#185579;
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.chatMessage{
  background-color:#185579;
}
#sendMessage input{
  background: rgb(221, 226, 230);
  color:rgba(75, 74, 74, 0.747);
}
#sendMessage button{
  background: rgb(171, 179, 185);
  color:rgba(46, 44, 44, 0.836);
}
#sendMessage button:hover{
  background-color: white;
}
.textMsg{
 background-color: rgba(194, 211, 228, 0.63);
 color:#185579;
}
.textMsg p{
  color:rgba(0, 0, 0, 0.705);
}

/* :activate account */
h5{
  color: whitesmoke;
}
.formActivate{
  width:400px;
  height: 300px;
  padding: 4%;
  display: block;
  margin: auto;
  background: rgba(110, 102, 102, 0.658);
  box-shadow:0 0 22px rgba(10, 10, 10, 0.8);
color: whitesmoke;
}