body {
  margin: 0;
  padding: 0;
}

/*
RESPONSIVITÉ 
 @media (max-width: 575.98px) {   
}
@media (max-width: 767.98px) { 
} 
@media (max-width: 1199.98px) { 
}
@media (max-width: 1399.98px) {
} 

@media (max-width: 991.98px) {
  .acc {
    width: 75%;
    display: block;
    margin: auto;
    padding: 7%;
  }
  .acc h1 {
    margin-top: 7%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 53pt;
  }
  .acc h3 {
    margin-top: 4%;
    font-size: 25pt;
    font-family: "Nunito Sans", sans-serif;
  }
  .acc button {
    background-color: #38a1f3;
    padding: 1%;
    font-family: Helvetica;
    margin-top: 1%;
  }
  .test {
    margin-bottom: 3%;
  }
  footer {
    height: 12%;
    padding: 2%;
  }
  footer a {
    margin: 1.2%;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 991.99px) {
  .acc {
    height: 100%;
    padding-top: 9%;
  }
  .acc h1 {
    margin-top: 6%;
    font-size: 52pt;
    font-family: "Nunito Sans", sans-serif;
  }
  .acc h3 {
    margin-top: 6%;
    font-size: 27pt;
    font-family: "Nunito Sans", sans-serif;
  }
  .acc button {
    background-color: #38a1f3;
    width: 14rem;
    padding: 2%;
    font-family: Helvetica;
    margin-top: 8%;
  }
  footer {
    height: 12%;
    padding: 2%;
    position: relative;
    bottom: 0;
  }
  footer a {
    margin: 1.2%;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
}*/
